<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/login.js" defer></script>
    <title>Log in</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">

</head>
<body>
    <header>
        <a href="/src/index.html"><img src="/assets/img/logo (2).png" alt="logo"></a>
        <nav>
        <a href="/src/view/login.html">Login</a>
        <a href="/src/view/products.html">Products</a>
    </nav>
    </header>
    <main>
        <section class="login">
            <h1>Connectez-vous</h1>
            <section class="login2">
            <form id="form">
                <section class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" placeholder="Entrez votre email">
                </section>
                <section class="form-group">
                    <label for="password">Mot de passe *</label>
                    <input type="password" id="password" placeholder="Entrez votre mot de passe">
                </section>
                <input type="submit" value="Connectez-vous">
                <input type="reset" value="Effacer">
            </form>
        </section>   
</main>
<footer>
</footer>
<script type="module" src="../js/login.js">
    
</script>
</body>
</html>