<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/products.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/src/js/logout.js" defer type="module"></script>


</head>
<body>
    <header>
        <a href="#">Nos produits</a>
        <a class="titre" href="../index.html">Van Cleef & Arpels</a>
        <a href="/src/view/login.html"><i class="fa-solid fa-user"></i></a>
        <a><i id="logoutButton" class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </header>
    <section class="container">
        <h1>Nos produits</h1>
        <p>Les créations de Haute Joaillerie font ruisseler les diamants, telles des gouttes d'eau étincelantes. Leur structure ajourée en or blanc ou jaune accentue les jeux de lumière avec une exquise fluidité.</p>
        <section class="gallery">
            <img id="bague" src="/assets/img/bague.jpg" alt="Bague en or">
            <img src="/assets/img/collier.jpg" alt="collier en perles">
            <img src="/assets/img/collier2.jpg" alt="collier en diamants taillées">
        </section>
    </section>


</body>
</html>