@import url('https://fonts.googleapis.com/css2?family=Alike&family=Carrois+Gothic+SC&family=Ojuju:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e6e6e67a;
    min-height: 65px;
    padding: 0 60px;
    font-family: "Cormorant Garamond", serif;
    width: 100%;
}


.logo {
    margin-left: 150px;
}

.link {
    text-align: center;
    display: flex;
    gap: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);

}

.para {
    font-family: "Carrois Gothic SC", sans-serif;
    margin-left: 50px;
    padding: 20px;
}

.img {
    justify-content: left;
    background-color: #E0EDC6;
}

section {

    display: flex;
    margin-right: 50px;

}

.btn {

    background-color: #E0EDC6;
    padding: 15px 45px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.necklace {
    margin-left: 50px;
    margin-bottom: 50px;
}

.deux {
    font-family: "Carrois Gothic SC", sans-serif;
    display: inline-block;
    margin-left: 50px;
    padding: 20px;
}

.video {
    background-image: url(../img/Cover_Pendentif\ BO_4200x2624.mp4);
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    width: 100%;
  
}

.animation{
  height:100vh; 
}