@import url('https://fonts.googleapis.com/css2?family=Alike&family=Carrois+Gothic+SC&family=Ojuju:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgray;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    font-family: "Cormorant Garamond", serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);

}

p {
    font-family: "Carrois Gothic SC", sans-serif;
    display: flex;
    justify-content: center;
    text-align: right;

}

section {
    display: flex;
    justify-content: center;
    float: right;
}