@import url('https://fonts.googleapis.com/css2?family=Alike&family=Carrois+Gothic+SC&family=Ojuju:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgray;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    font-family: "Cormorant Garamond", serif;
}
.logo{
    
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);

}

.text,p {
    font-family: "Carrois Gothic SC", sans-serif;
    margin-left: 50px;
    padding: 20px;
    
}

.img img {
    justify-content: left;
}
section{
    display: flex;
    margin-right: 50px;
}