.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.gallery img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582); */
    gap: 50px;
    display: flex;
}

.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    text-align: center;
    min-height: 500px;
}

.container h1{
    font-size: 40px;
}